{{- /* Homebrew zsh, system zsh, then Herdr's default shell */ -}}
{{- $shell := "" -}}
{{- if lookPath "brew" -}}
{{-   $brewPrefix := output "brew" "--prefix" | trim -}}
{{-   if stat (printf "%s/bin/zsh" $brewPrefix) -}}
{{-     $shell = printf "%s/bin/zsh" $brewPrefix -}}
{{-   end -}}
{{- end -}}
{{- if eq $shell "" -}}
{{-   if stat "/opt/homebrew/bin/zsh" -}}
{{-     $shell = "/opt/homebrew/bin/zsh" -}}
{{-   else if stat "/usr/local/bin/zsh" -}}
{{-     $shell = "/usr/local/bin/zsh" -}}
{{-   else if stat "/home/linuxbrew/.linuxbrew/bin/zsh" -}}
{{-     $shell = "/home/linuxbrew/.linuxbrew/bin/zsh" -}}
{{-   end -}}
{{- end -}}
{{- if eq $shell "" -}}
{{-   if stat "/bin/zsh" -}}
{{-     $shell = "/bin/zsh" -}}
{{-   else if stat "/usr/bin/zsh" -}}
{{-     $shell = "/usr/bin/zsh" -}}
{{-   end -}}
{{- end -}}

onboarding = false

[theme]
dark_name = "one-dark"
light_name = "one-light"

[terminal]
{{- if $shell }}
default_shell = "{{ $shell }}"
{{- end }}

[keys]
prefix = "ctrl+a"

[ui]
copy_on_select = false

[ui.toast]
delivery = "terminal"
